html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

@font-face {
    font-family: 'Segoe UI';
    src: url(font.ttf);
}

body {
    background: white;
    font-family: 'Segoe UI';
    font-size: 14px;
    color: #404040;
    line-height: 20px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.error {
    color: #d87c78;
}

section {
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    width: 300px;
    height: 100%;
}

button {
    margin-bottom: 20px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    padding: 10px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    background: #fffefe;
    background: -webkit-linear-gradient(#fffefe, #f8f7f6);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fffefe, #f8f7f6);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fffefe, #f8f7f6);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fffefe, #f8f7f6);
    /* Standard syntax */
}

aside {
    display: inline-block;
    padding: 50px;
}

.cell {
    margin: 5px;
    width: 50px;
    height: 50px;
    text-align: center;
}

label, .matrix {
    vertical-align: middle;
}

.matrix {
    display: inline-block;
    margin-right: 40px;
}

.row {
    margin-bottom: 40px;
}

.row-matrix-radio {
    margin-top: 20px;
    margin-bottom: 20px;
}

#submit {
    background-color: green;
    color: white;
    background: #a9d463;
    background: -webkit-linear-gradient(#a9d463, #9ac745);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#a9d463, #9ac745);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#a9d463, #9ac745);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#a9d463, #9ac745);
    /* Standard syntax */
}

.vertical {
    display: block;
}

.matrix-name {
    font-size: 18px;
    font-weight: bold;
}

.vertical, label {
    text-align: center;
}

.squarebrackets {
    font-family: calibri;
    font-size: 20px;
    position: relative;
    padding: 10px;
}

.squarebrackets:before {
    content: " ";
    position: absolute;
    border-left: 2px solid #666;
    border-top: 2px solid #666;
    border-bottom: 2px solid #666;
    padding: 5px;
    top: -10px;
    bottom: -10px;
    left: -5px;
}

.squarebrackets:after {
    content: " ";
    position: absolute;
    border-right: 2px solid #666;
    border-top: 2px solid #666;
    border-bottom: 2px solid #666;
    padding: 5px;
    top: -10px;
    bottom: -10px;
    right: -5px;
}
