<!doctype html>
<html ng-app="matrixexample" data-framework="typescript">
    <head>
        <meta charset="utf-8">
        <title>Тестовое задание "СКБ Контур"</title>
        <link rel="stylesheet" href="index.css">
    </head>
    <body ng-controller="matrixCtrl">
        <section ng-style="vm.getStyle()">
            <form ng-submit="vm.onSubmit()">
                <div class="row">
                    <button type="submit" id="submit">Умножить матрицы</button>
                </div>
                <div class="row">
                    <button type="button" class="vertical" ng-click="vm.clear()">Очистить матрицы</button>
                    <button type="button" class="vertical" ng-click="vm.swap()">Поменять матрицы местами</button>
                </div>
                <div class="row">
                    <div class="row-matrix-radio">
                        <label ng-repeat="m in matrixEdit">
                            <input type="radio" ng-checked="m.isSelected" ng-click="vm.pickMatrix(m)"/>
                            <span ng-cloak>{{m.name}}</span>
                        </label>
                    </div>
                    <div>
                        <button type="button" ng-click="vm.addRow()">Добавить</button>
                        <button type="button" ng-click="vm.removeRow()">Удалить</button>
                        строку
                    </div>
                    <div>
                        <button type="button" ng-click="vm.addCol()">Добавить</button>
                        <button type="button" ng-click="vm.removeCol()">Удалить</button>
                        столбец
                    </div>
                </div>
                <div class="row error" ng-show="vm.isError()">
                    Такие матрицы нельзя перемножить, так как количество столбцов матрицы A, не равно количеству строк матрицы B.
                </div>
            </form>
        </section>
        <aside>
            <div class="row">
                <my-directive class="matrix squarebrackets" info="matrix.C"></my-directive>
                <my-directive class="matrix squarebrackets" info="matrix.A" function="vm.changeCell(name,i,j,value)" blur="vm.onBlur()" focus="vm.onFocus()"></my-directive>
                <label class="matrix-name">{{matrix.A.shortName}}</label>
            </div>
            <div class="row">
                <my-directive class="matrix squarebrackets" info="matrix.B" function="vm.changeCell(name,i,j,value)" blur="vm.onBlur()" focus="vm.onFocus()"></my-directive>
                <label class="matrix-name">{{matrix.B.shortName}}</label>
            </div>
        </aside>
        <script src="node_modules/angular/angular.js"></script>
        <script src="js/Application.js"></script>
    </body>
</html>
