<!doctype html>
<html ng-app="matrixexample" data-framework="typescript">
    <head>
        <meta charset="utf-8">
        <title>Тестовое задание "СКБ Контур"</title>
        <link rel="stylesheet" href="index.css">
    </head>
    <body ng-controller="matrixCtrl">
        <section>
            <form>
                <div class="row">
                    <button type="submit" id="submit">Умножить</button>
                </div>
                <div class="row">
                    <button type="button" class="vertical" ng-click="vm.clear()">Очистить</button>
                    <button type="button" class="vertical">Поменять</button>
                </div>
                <div class="row">
                    <div class="row-matrix-radio">
                        <label ng-repeat="m in matrixEdit">
                            <input type="radio" ng-checked="m.isSelected" ng-click="vm.pickMatrix(m)"/>
                            <span ng-cloak>{{m.name}}</span>
                        </label>
                    </div>
                    <div>
                        <button type="button" ng-click="vm.addRow()">Добавить</button>
                        <button type="button" ng-click="vm.removeRow()">Удалить</button>
                        строку
                    </div>
                    <div>
                        <button type="button" ng-click="vm.addCol()">Добавить</button>
                        <button type="button" ng-click="vm.removeCol()">Удалить</button>
                        столбец
                    </div>
                </div>
            </form>
        </section>
        <aside>
            <div class="row">
                <my-directive class="matrix squarebrackets" info="matrix.C"></my-directive>
                <my-directive class="matrix squarebrackets" info="matrix.A"></my-directive>
                <label class="matrix-name">A</label>
            </div>
            <div class="row">
                <my-directive class="matrix squarebrackets label-block" info="matrix.B"></my-directive>
                <label class="matrix-name">B</label>
            </div>
        </aside>
        <script src="node_modules/angular/angular.js"></script>
        <script src="js/Application.js"></script>
    </body>
</html>
